<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src='/route.js'></script>

</head>

<body style='font-family:  monospace; background-color: rgb(240, 238, 233);'>
    <div style='padding: 1em; display: flex; flex-direction: column; justify-content: center; align-items: center;'>
  <h1 style='font-family:  monospace; padding: 1em; text-align: center;'>Apply a new theme</h1>
   




        <div   class="card-deck slides">
            <div class="card">
              <img class="card-img-top" style='padding-top: 2.1em' src="https://cdn.shopify.com/s/files/1/1410/9094/t/2/assets/logo.png?v=7731144886018667602" alt="Card image cap">
              
              <div  style='text-align: center; padding: 3em 0;' class="card-footer">
                <buttontype="button" class="btn btn-outline-dark btn-lg">Update test store</button>
              </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/1165/9138/files/wig_outlet_logo_250x100px_v4_x175.png?v=1544124519" alt="Card image cap">
                
                <div style='text-align: center; padding: 3em 0;' class="card-footer">
                  <button type="button" class="btn btn-outline-dark btn-lg">Update test store</button>
                </div>
              </div>
            
          </div>

    </div>
    

</body>

</html>